<div>
  <mat-grid-list cols="4" >
    <mat-grid-tile *ngFor="let film of films">

      <mat-card style="width: 95%; height: 95%" >
        <mat-card-header  class="justify-content-center">
          <mat-card-title>{{ film.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content >
          <div>
            <img [src]="film.iconUrl"  alt="photo" width="100%" height="150px">
          </div>
          <div class="description">
            {{film.description}}
          </div>
          <div class="text-center">
            <button mat-mini-fab color="primary">
              <mat-icon>update</mat-icon>
            </button>
            <button mat-mini-fab color="warn"  (click)="openDialogRemove(film.idFilm) ">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile>
      <button class="align-middle" mat-fab (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>

    </mat-grid-tile>
  </mat-grid-list>
</div>

